/* BASE STYLES
============================================================================= */
html {  }
body {font-family: 'Ubuntu', sans-serif;position:relative; background:#0288d1;}
* {margin:0; padding:0; line-height:1; box-sizing:border-box;outline:none;}
select:focus {outline:none;}

@font-face {
	font-family: 'Sukhumvit';
	src: url('fonts/SukhumvitSet-Bold.ttf');
  src: url('fonts/SukhumvitSet-Light.ttf');
  src: url('fonts/SukhumvitSet-Medium.ttf') format('truetype');
  src: url('fonts/SukhumvitSet-SemiBold.ttf');
  src: url('fonts/SukhumvitSet-Text.ttf');
  src: url('fonts/SukhumvitSet-Thin.ttf');
}

@font-face {
	font-family: 'Sukhumvit-Light';
  src: url('fonts/SukhumvitSet-Light.ttf');
}
@font-face {
	font-family: 'Sukhumvit-Bold';
  	src: url('fonts/SukhumvitSet-Bold.ttf');
}
@font-face {
	font-family: 'Sukhumvit-Medium';
  	src: url('fonts/SukhumvitSet-Medium.ttf') format('truetype');
}

.site-contain {
	position:relative;
	width:100%;
	z-index:10;
	padding:0 0 80px 0;
	float:left;
	min-height:100vh;
	transition:all 500ms cubic-bezier(0.680, 0.550, 0.265, 1.0);
	-webkit-transition:all 500ms cubic-bezier(0.680, 0.550, 0.265, 1.0);
}

.layer {
	position:fixed;
	top:0;
	left:0;
	z-index:3;
	background:#fff;
	width:100%;
	height:100vh;
	transition:all 500ms cubic-bezier(0.680, 0.550, 0.265, 1.0);
	-webkit-transition:all 500ms cubic-bezier(0.680, 0.550, 0.265, 1.0);
}

.layer.blk {
	z-index:2;
	background:#000;
	transition-delay:0.1s;
	-webkit-transition-delay:0.1s;
}

.resources {
	position:fixed;
	top:0;
	z-index:1;
	background:#e53935;
	width:100%;
	height:100vh;
}

.page  { 
	position:relative;
	width:100%;
	float:left;
	z-index:101;
	background:#0288d1;
}


.site-contain.active, .layer.active {
	transform:translateX(-300px);
}

.form-contain {
	max-width:300px;
	margin:0 auto;
	background: #006fab;
    padding: 10px 20px;
    color: #000;
    border-bottom: 7px solid #046194;
    border-right: 7px solid #046194;
}

.form-contain .row {
	margin:0 0 20px 0;
}

.form-contain .row input {
	width:100%;
	background:#fff;
	color:#046194;
	padding:0 0 0 10px;
	height:40px;
	line-height:40px;
	margin:0 0 15px 0;
}

.form-contain .row button {
	display:block;
	margin:0 auto;
}

.form-contain .row input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  	color: #046194;
}

/* Top Bar & Navigation
============================================================================= */
.top-bar {
	position:fixed;
	height:auto;
	width:100%;
	left:0;
	z-index:10000;
	padding:0 15px 15px 15px;
	top:0;
	background:#0288d1;
}

.mobile, .close {
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 24px;
    cursor: pointer;
    display: block;
    z-index: 10;
    transition: all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    -webkit-transition: all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

.mobile span:nth-child(1), .close span:nth-child(1) {
    top: 0;
}

.mobile span, .close span {
    position: absolute;
    left: 0;
    width: 35px;
    height: 3px;
    background: #fff;
    transition: all 200ms ease;
    -webkit-transition: all 200ms ease;
}

.mobile span:nth-child(2), .close span:nth-child(2) {
    top: 50%;
}

.mobile span:nth-child(3), .close span:nth-child(3) {
    top: 100%;
}

.mobile.active span:nth-child(3), .close span:nth-child(3) {
    top: 50%;
    transform: rotateZ(90deg);
}

.mobile span:nth-child(2), .close span:nth-child(2) {
    top: 50%;
}

.mobile.active span:nth-child(1), .close span:nth-child(1) {
    top: 50%;
    transition: all 200ms ease;
    -webkit-transition: all 200ms ease;
}

.mobile span:nth-child(1), .close span:nth-child(1) {
    top: 0;
}

.mobile.active, .close {
    transform: rotateZ(135deg);
    -webkit-transform: rotateZ(135deg);
    transition-delay: 200ms;
    -webkit-transition-delay: 200ms;
}

.caps {
	text-transform: uppercase;
}

.bold {
	font-weight:bold;
}

.logo {
	position:relative;
	float:left;
}

.logo a {
	display:block;
	float:left;
	margin:10px 0 0 0;
	line-height:50px;
	color:#fff;
	font-weight:700;
	letter-spacing:0.5px;
	font-size:40px;
	text-decoration: none;
}


nav {
	position:relative;
	z-index:100;
	float:right;
	margin:20px 0 0;
}

nav a {
	display:block;
	float:left;
	color:#fff;
	text-decoration:none;
	font-size:14px;
	margin:0 15px 0 0;
	padding:10px 0;
	transition:all 0.3s ease;
	-webkit-transition: all 0.3s ease;
}

nav a:hover, nav a:active {
	color:#0475b3;
	}

	h1, h2{
		display:block;
		width:100%;
		text-align:center;
		max-width:100%;
		color:#046194;
		font-size:28px;
		line-height:1.4;
		margin:40px auto;
		font-weight:700;
	}

	h2 {
		text-align:left;
		font-size:20px;
		font-weight:700;
		margin:20px 0;
	}

	.main-cta{
		float:left;
		width:100%;
		margin:0 0 50px 0;
			-webkit-animation:fadeOut 0.5s both ease-in;
	-moz-animation:fadeOut 0.5s both ease-in;
	animation:fadeOut 0.5s both ease-in;  
	animation-delay:0.5s;
    -webkit-animation-delay: 0.5s;
	}

	.main-cta button {
		display:block;
		border:none;
		outline:none;
		background:#fff;
		text-align:center;
		color:#006fab;
		padding:0px 40px;
		margin:0 auto;
		border-radius:0;
		height:auto;
		border-bottom:7px solid #006fab;
		border-right:7px solid #006fab;
	}

	.main-cta button .fa{
    margin: 12px 0 0 6px;
	    position:relative;
	    top:auto;
	    right:auto;
    font-size: 24px;
    display: block;
    float: right;
}

.main-cta.active {
	-webkit-animation:fadeIn 0.5s both ease-in;
	-moz-animation:fadeIn 0.5s both ease-in;
	animation:fadeIn 0.5s both ease-in;  
}
.btn-link {
	display:block;
	float:left;
	padding:10px 20px;
	background:#fff;
	color:#0288d1;	
	margin:0;
	border-radius: 2px;
}

.txt-link {
	font-size:18px;
	margin:0 0 0 25px;
	color:#000;
	text-decoration:none;
	letter-spacing: 0.5px;
	display:block;
	line-height:50px;
	float:left;
}

.bold {
	font-family: 'Sukhumvit-Bold';
}

.headline {
	display:block;
	float:left;
	width:100%;
	margin:15px 0;
	text-transform: uppercase;
	font-weight:500;
	font-size:18px;
	font-family: 'Sukhumvit-Medium';
	letter-spacing:1px;
}


.box-panel {
	max-width:700px;
	width:100%;
	margin:100px auto;
	color:#fff;
}

.coin {    
	float:left;
	width: 100%;
	margin:0 0 10px;
    	background: #006fab;
    	padding: 10px;
    	color: #000;
    	border-bottom: 7px solid #046194;
    	border-right: 7px solid #046194;
    	cursor:pointer;
}

.coin input {
	border:none;
	background:#0288d1;
	padding:0 0 0 5px;
}

.coin-3 {
width:calc((100% - 20px) /3);
margin:0 10px 0 0;
}
.coin.coin-3:nth-child(4) {
    margin-right: 0 ;
}

.coin-container {
	display:block;
	float:left;
	width:100%;
}

.coin-container span {
	display:block;
}

.coin-name {
	float:left;
}

.coin .symbol, .change-24 {
	color:#fff;
	font-size:14px;
	margin:0 0 3px;
}

.change-24 {
	letter-spacing:0.5px;
}

.coin .name, .curr-price {
	color:#fff;
	font-size:18px;
	font-weight:700;
	clear:both;
}

.coin-price {
	float:right;
	text-align:right;
}

.pos {color:#00e676 !important;}
.neg {color:#e53935 !important;}

.coin-details {
	float:left;
	width:100%;
	padding-top: 20px;
    border-top: 1px solid #ccc;
    margin: 15px 0 0;
	}
	
	.coin-details .detail {
	float:left;
	width:100%
	}
	
	.coin-details .detail {
		display:block;
		float:left;
		width:100%;
		margin:0 0 10px 0;
		color:#fff;
		font-size:12px;
	}
	.detail span {
	margin:0;
	letter-spacing:0.5px;
	}

    .detail span:last-child {
	color:#fff;
	font-weight:500;
	float:right;
	}
	
	.coin-details h2 { 
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    margin: 0 0 10px;
    display: block;
}

.go-back {
display:block;
float:left;
color:#fff;
text-decoration:none;
font-size:16px;
margin:30px 0;
}

.go-back .large {
font-size:20px;
font-weight:700;
}

.copy {

	display:block;
	width:100%;
	text-align:center;
	font-size:12px;
	letter-spacing: 0.5px;
	color:#fff;
	position:absolute;
	bottom:10px;
	left:0;
	z-index:9999;
}
.loader{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: absolute;
  margin:200px auto;
  left:50%; 
  margin-left:-50px;
  -webkit-perspective: 120px;
  -moz-perspective: 120px;
  -ms-perspective: 120px;
  perspective: 120px;
  z-index:9999;
  opacity:1;
}

.loader.loading {
opacity:0;
}

.loader:before{
  content: "";
  position: absolute;
  left: 25px;
  top: 25px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  animation: flip 1.5s infinite;
}

@-webkit-keyframes flip {
  0% {
    -webkit-transform: rotate(0);
  }

  50% {
    -webkit-transform: rotateY(180deg);
  }

  100% {
    -webkit-transform: rotateY(180deg)  rotateX(180deg);
  }
}

@keyframes flip {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(180deg)  rotateX(180deg);
  }
}


/* Top Panel
============================================================================= */
.wrap {
	padding:0 15px;
	width:100%;
	float:left;
}

#home-panel {
	height:100vh;
	position:relative;
}

#help-submit {
	position:relative;
	float:left;
	width:100%;
	height:100vh;
}

.help-form {
	display:block;
	text-align:center;
	font-family: 'Noto Sans', sans-serif;
	top: 50%;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
    left: 0;
    width: 100%;
    position:absolute;
    opacity:0;
    height:0;
    overflow:hidden;
}

.help-form.stp-2 {
	margin:0;
}

.help-form.active {
	height:auto;
	z-index:10;
	    -webkit-animation:fadeOut 0.5s both ease-in;
	-moz-animation:fadeOut 0.5s both ease-in;
	animation:fadeOut 0.5s both ease-in;  
	animation-delay:0.5s;
    -webkit-animation-delay: 0.5s;
}

.help-form.stp-2.active {
	margin:250px 0 ;
}

.help-form .detail {
	font-size:30px;
	font-weight:700;
	margin:0 0 40px 0;
	display:block;
	float:left;
	width:100%;
	line-height:1.1;
}

.help-form h1 {
	display:inline-block;
	margin:0;
	line-height:1;
	font-weight: normal;
}

.help-form select {
	display:inline-block;
	font-weight: normal;
	border:none;
	border-radius:5px;
	height:70px;
	background:#fff;
	font-size:60px;
	margin:-5px 0 0;
	font-weight:700;
	text-transform:lowercase;
	background: url(images/select-icon.png) no-repeat right #fff;
    -webkit-appearance: none;
    padding:0 1em 0 0;
}


input {
	display:block;
	float:left;
	height:40px;
	background:rgba(255,255,255,0.7);
	border-radius:4px;
	border:none;
	width:250px;
	color:#fff;
	padding:0 0 0 15px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
  font-size:14px;
  letter-spacing:0.5px;
  font-weight:300;
}

.help-buttons {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	-webkit-transform:translate(-50%, -50%);
	clear:both;
	width:100%;
	display:inline-block;
	text-align:center;
	-webkit-animation:fadeOut 0.5s both ease-in;
	-moz-animation:fadeOut 0.5s both ease-in;
	animation:fadeOut 0.5s both ease-in;  
	animation-delay:0.5s;
    -webkit-animation-delay: 0.5s;
}

.help-buttons.active {
	-webkit-animation:fadeIn 0.5s both ease-in;
	-moz-animation:fadeIn 0.5s both ease-in;
	animation:fadeIn 0.5s both ease-in;  
}

button, .help-buttons a{
    display: inline-block;
    position:relative;
    height: 50px;
    line-height: 50px;
    padding: 0 55px 0 25px;
    border: none;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: #fff;
    font-weight: 500;
    font-size: 16px;
    background: #e53935;
    color: #fff;
    text-decoration: none;
}

.provider-form .btn-text, .help-form .btn-text {
	background:none;
	color:#000;
	font-size:14px;
	float:left;
	font-weight:700;
}

button .fa, .help-buttons a .fa {
    margin: 0 0 0 6px;
    position: absolute;
    right: 20px;
    top: 12px;
    font-size: 24px;
}


.help-buttons a.btn-provide {
	padding:0 65px 0 23px;
	margin:0 30px 0 0;
}

.provider-form {
	position:relative;
	width:100%;
	margin:45px auto;
}

.provider-form  h1 {
	margin:0 0 30px 0;
	display:block;
	float:left;
	text-align:center;
	color:#046194;
	font-size:24px;
}

.provider-form form {
	width:100%;
}

.provider-form .row {
	display:block;
	float:left;
	width:100%;
	margin:0 0 25px 0;
}

.provider-form label, .provider-form input {
	display:block;
	float:left;
	width:100%;
	height:40px;
	line-height:40px;
	padding:0 0 0 5px;
	border:none;
	color:#000;
	font-size:20px;
	transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
}
.provider-form label {
	height:auto;
	line-height:1;
	font-size:12px;
	margin:0 0 5px 0;
	padding:0;
	border:none;
	text-align:left;
	color:#fff;
}

.provider-form input:focus, .provider-form input:active {
	border-bottom:2px solid #e53935;
}


.provider-form button {
	float:right;
	margin:0;
	padding:0 20px;
	cursor:pointer;
}

.provider-form textarea {
	width:100%;
	min-height:140px;
	padding:15px;
	border:2px solid #ccc;
	font-size:20px;
}

.provider-form textarea:focus, .provider-form textarea:active {
	border:2px solid #e53935;
}

.resources {
	max-width:300px;
	width:100%;
	float:right;
	right:0;
	padding:70px 15px 0 15px;
	overflow:scroll;
}

.resources.active .headline, .resources.active .subheadline, .resources.active .link-contain, .resources.active a {
    -webkit-animation:slideInUp 0.5s both ease-in;
	-moz-animation:slideInUp 0.5s both ease-in;
	animation:slideInUp 0.5s both ease-in;  
}

.resources.active #l2{
	animation-delay:0.3s;
	-webkit-animation-delay:0.3s;
}

.resources.active .btn-call {
	animation-delay:0.5s;
	-webkit-animation-delay:0.5s;
}

.resources.active .headline {
	animation-delay:0.7s;
	-webkit-animation-delay:0.7s;
}

.resources.active .link-contain{
	animation-delay:0.9s;
	-webkit-animation-delay:0.9s;
}
.resources.active .lc2 {
	animation-delay:1.2s;
	-webkit-animation-delay:1.2s;
}
.resources.active .lc3 {
	animation-delay:1.4s;
	-webkit-animation-delay:1.4s;
}

.scroll-contain {
	position:absolute;
	float:left;
	width:100%;
	left:-20px;
	padding:0 0 0 20px;

}

.resources .headline {
	display:block;
	float:right;
	width:auto;
	color:#fff;
	font-size:28px;
	font-weight:700;
	text-transform: capitalize;
	padding:0 0 10px 40px;
	border-bottom:4px solid #fff;
	text-align:right;
}

.resources .subheadline {
	display:block;
	float:right;
	width:auto;
	color:#fff;
	font-size:16px;
	font-weight:700;
	text-transform: capitalize;
	padding:0 0 10px 0;
	margin:40px 0 10px 0;
	border-bottom:2px solid #fff;
	letter-spacing:1px;
	text-align:right;
}

.resources a {
	display:block;
	float:left;
	width:100%;
	margin:0 0 10px 0;
	text-decoration:none;
	font-size:20px;
	font-weight:300;
	color:#fff;
	text-align:right;
}

.resources .link-contain a {
	font-size:14px;
}

.resources .btn-call {
	background:#fff;
	color:#000;
	border-radius:5px;
	padding:10px 25px;
	width:auto;
	float:right;
	font-size:12px;
	font-weight:bold;
}

.btn-contain {
	display:inline-block;
	float:left;
	width:100%;
	max-width:400px;
	text-align:center;
}

.btn-icon {
    display: inline-block;
    position: relative;
    width: calc((100% - 48px) / 2);
    margin: 0 10px;
    height: 150px;
    border: 2px solid #ececec;
    border-radius: 10px;
    margin: 10px;
    box-sizing: border-box;
    transition:all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.btn-icon:hover, .btn-icon:active, .btn-icon:focus {
	color:#e53935;
	border:2px solid #e53935;
}
.btn-icon:hover > *, .btn-icon:active > *, .btn-icon:focus > *{
	color:#e53935; 
}



.btn-icon span {
	display:block; 
	float:left;
	width:100%;
	text-align:center;
	font-weight:700;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);

}

.btn-icon .fa {
	font-size:50px;
	display:block;
	text-align:center;
	margin:0 0 10px 0;
}
/* Responsive 
============================================================================= */

@media (max-width: 640px) {
	h1 {font-size:22px; max-width:85%;}
	h2 {font-size:18px; max-width:85%;}
	.logo a {font-size:28px;}
	.top-bar {
		padding:0 15px 15px 15px;
	}
.box-panel {
    margin: 60px auto;
}
	.txt-link {
	    font-size: 12px;
	    margin: 0 0 0 15px;
	}

	.dog-profile {
		max-width:100%;
	}

	.provider-form {
		width:90%;
	}

	.help-form .detail {
	font-size:20px;
	}

	.profile-wrap {
		margin:0;
	}
}


/* ANIMATIONS
============================================================================= */

.page.ng-leave 	{ z-index:9999; }
.page.ng-enter 	{ z-index:8888; }


/* page specific animations ------------------------ */

/* about ------------------------ */
.page.ng-leave        {
    -webkit-animation:fadeIn 0.5s both ease-in;
	-moz-animation:fadeIn 0.5s both ease-in;
	animation:fadeIn 0.5s both ease-in;   
}
.page.ng-enter	{  
    -webkit-animation:fadeOut 0.5s both ease-in;
	-moz-animation:fadeOut 0.5s both ease-in;
	animation:fadeOut 0.5s both ease-in;  
	animation-delay:0.5s;
    -webkit-animation-delay: 0.5s;
}

/* home -------------------------- */
.page-home.ng-leave         {
    -webkit-animation:fadeIn 0.5s both ease-in;
	-moz-animation:fadeIn 0.5s both ease-in;
	animation:fadeIn 0.5s both ease-in;   

}
.page-home.ng-enter 		{  
    -webkit-animation:fadeOut 0.5s both ease-in;
	-moz-animation:fadeOut 0.5s both ease-in;
	animation:fadeOut 0.5s both ease-in;  
	animation-delay:0.5s;
    -webkit-animation-delay: 0.5s;
}

/* contact ---------------------- */
.page-contact.ng-leave      {
    -webkit-animation:fadeIn 0.5s both ease-in;
	-moz-animation:fadeIn 0.5s both ease-in;
	animation:fadeIn 0.5s both ease-in;   
}
.page-contact.ng-enter 		{ 
    -webkit-animation:fadeOut 0.5s both ease-in;
	-moz-animation:fadeOut 0.5s both ease-in;
	animation:fadeOut 0.5s both ease-in;  
	animation-delay:0.5s;
    -webkit-animation-delay: 0.5s; 
}

.intro-logo svg {position:absolute; left:50%; top:50%;  -webkit-transform:translate(-50%,-50%); 
  transform:translate(-50%,-50%);  z-index:101;}
.intro-logo, .intro-logo object {
    display: block;
    width: 100% !important;
    height: 100vh !important;
    overflow: hidden;
    z-index: 100;
    position: absolute;
    height: 200px;
    background: none;
}
.intro-logo svg {
    width: 30%;
    height: 100%;
    transition: all 1300ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    -webkit-transition: all 1300ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    background: none;
}

.top-bar, .copy{
    -webkit-animation:fadeOut 0.5s both ease-in;
	-moz-animation:fadeOut 0.5s both ease-in;
	animation:fadeOut 0.5s both ease-in;  
	animation-delay:0.3s;
    -webkit-animation-delay: 0.3s;
}

.st1{
  fill:#ccc;
}

.st1 {
  -webkit-animation: draw 700ms ease-in-out; 
  -moz-animation:    draw 700ms ease-in-out; 
  -o-animation:      draw 700ms ease-in-out; 
  animation:         draw 700ms ease-in-out;
  stroke: #e2e2e2;
  fill:#e2e2e2;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  stroke-dasharray: 600 0;
    animation-delay:300ms;
    -webkit-animation-delay: 300ms;
}
.st2 {
  -webkit-animation: draw 700ms ease-in-out; 
  -moz-animation:    draw 700ms ease-in-out; 
  -o-animation:      draw 700ms ease-in-out; 
  animation:         draw 700ms ease-in-out;
  stroke: #e2e2e2;
  fill:#e2e2e2;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  stroke-dasharray: 600 0;
    animation-delay:200ms;
    -webkit-animation-delay: 200ms;
}
.st3 {
  -webkit-animation: draw 700ms ease-in-out; 
  -moz-animation:    draw 700ms ease-in-out; 
  -o-animation:      draw 700ms ease-in-out; 
  animation:         draw 700ms ease-in-out;
  stroke: #e2e2e2;
  fill:#e2e2e2;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  stroke-dasharray: 600 0;
    animation-delay:100ms;
    -webkit-animation-delay: 100ms;
}
.st4 {
  -webkit-animation: draw 700ms ease-in-out; 
  -moz-animation:    draw 700ms ease-in-out;  
  -o-animation:      draw 700ms ease-in-out;
  animation:         draw 700ms ease-in-out;
  stroke: #e2e2e2;
  fill:#e2e2e2;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  stroke-dasharray: 600 0;
}



@-webkit-keyframes draw {
  0% {
    stroke-dasharray: 0 800;
    stroke-dashoffset: 200;
    fill-opacity: 0;
    stroke-width: 1;
  }
  37% {
    stroke-dasharray: 600 0;
    stroke-dashoffset: 200;
    fill-opacity: 0;
    stroke-width: 1;
  }
  50% {
    fill-opacity: 1;
    stroke-width: 0;
  }
  100% {
    fill-opacity: 0 ;
    stroke-width: 0;
  }
}

@-moz-keyframes draw {
  0% {
    stroke-dasharray: 0 800;
    stroke-dashoffset: 200;
    fill-opacity: 0;
    stroke-width: 1;
  }
  37% {
    stroke-dasharray: 600 0;
    stroke-dashoffset: 200;
    fill-opacity: 0;
    stroke-width: 1;
  }
  50% {
    fill-opacity: 1;
    stroke-width: 0;
  }
  100% {
    fill-opacity: 0;
    stroke-width: 0;
  }
}
@-o-keyframes draw {
  0% {
    stroke-dasharray: 0 800;
    stroke-dashoffset: 200;
    fill-opacity: 0;
    stroke-width: 1;
  }
  37% {
    stroke-dasharray: 600 0;
    stroke-dashoffset: 200;
    fill-opacity: 0;
    stroke-width: 1;
  }
  50% {
    fill-opacity: 1;
    stroke-width: 0;
  }
  100% {
    fill-opacity: 0;
    stroke-width: 0;
  }
}
@keyframes draw {
  0% {
    stroke-dasharray: 0 800;
    stroke-dashoffset: 200;
    fill-opacity: 0;
    stroke-width:1;
  }
  37% {
    stroke-dasharray: 600 0;
    stroke-dashoffset: 200;
    fill-opacity: 0;
    stroke-width: 1;
  }
  50% {
    fill-opacity: 1;
    stroke-width: 0;
  }
  100% {
    fill-opacity: 0;
    stroke-width: 0;
  }
}


/* rotate and fall */
@-webkit-keyframes rotateFall {
	0% { -webkit-transform: rotateZ(0deg); }
	20% { -webkit-transform: rotateZ(10deg); -webkit-animation-timing-function: ease-out; }
	40% { -webkit-transform: rotateZ(17deg); }
	60% { -webkit-transform: rotateZ(16deg); }
	100% { -webkit-transform: translateY(100%) rotateZ(17deg); }
}
@-moz-keyframes rotateFall {
	0% { -moz-transform: rotateZ(0deg); }
	20% { -moz-transform: rotateZ(10deg); -moz-animation-timing-function: ease-out; }
	40% { -moz-transform: rotateZ(17deg); }
	60% { -moz-transform: rotateZ(16deg); }
	100% { -moz-transform: translateY(100%) rotateZ(17deg); }
}
@keyframes rotateFall {
	0% { transform: rotateZ(0deg); }
	20% { transform: rotateZ(10deg); animation-timing-function: ease-out; }
	40% { transform: rotateZ(17deg); }
	60% { transform: rotateZ(16deg); }
	100% { transform: translateY(100%) rotateZ(17deg); }
}

/* scale up */
@keyframes scaleUp {
	from 		{ opacity: 0.0; transform: scale(0.8); }
}
@-moz-keyframes scaleUp {
	from 		{ opacity: 0.0; -moz-transform: scale(0.8); }
}
@-webkit-keyframes scaleUp {
	from 		{ opacity: 0.0; -webkit-transform: scale(0.8); }
}

@keyframes fadeOut {
	from 	{ opacity:0; }
	to 		{ opacity:1;}
}
@-moz-keyframes fadeOut {
	from 	{ opacity:0;}
	to 		{ opacity:1;}
}
@-webkit-keyframes fadeOut {
	from 	{ opacity:0;}
	to 		{ opacity:1; }
}

@keyframes fadeIn {
	from 	{ opacity:1; }
	to 		{ opacity:0;}
}
@-moz-keyframes fadeIn {
	from 	{ opacity:1;}
	to 		{ opacity:0;}
}
@-webkit-keyframes fadeIn {
	from 	{ opacity:1;}
	to 		{ opacity:0; }
}



/* slide in from the right */
@keyframes slideInRight {
	from 	{ transform:translateX(100%); }
	to 		{ transform: translateX(0); }
}
@-moz-keyframes slideInRight {
	from 	{ -moz-transform:translateX(100%); }
	to 		{ -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
	from 	{ -webkit-transform:translateX(100%); }
	to 		{ -webkit-transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
	from 	{ transform:translateY(20px); opacity:0; }
	to 		{ transform: translateY(0%); opacity:1;}
}
@-moz-keyframes slideInUp {
	from 	{ -moz-transform:translateY(20px); opacity:0;}
	to 		{ -moz-transform: translateY(0%); opacity:1;}
}
@-webkit-keyframes slideInUp {
	from 	{ -webkit-transform:translateY(20px); opacity:0;}
	to 		{ -webkit-transform: translateY(0);opacity:1; }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
	to 		{ transform: translateX(-100%); }
}
@-moz-keyframes slideOutLeft {	
	to 		{ -moz-transform: translateX(-100%); }
}
@-webkit-keyframes slideOutLeft {
	to 		{ -webkit-transform: translateX(-100%); }
}

/* rotate out newspaper */
@-webkit-keyframes rotateOutNewspaper {
	to { -webkit-transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}
@-moz-keyframes rotateOutNewspaper {
	to { -moz-transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}
@keyframes rotateOutNewspaper {
	to { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}
